<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#mega-menu-wrap-main-menu #mega-menu-main-menu a.mega-menu-link {
  color: white!important;
}
@media only screen and (max-width: 768px) {
.page-id-15368 .col-md-8 {
    width: 100%;
  padding: 0;
}
.elementor-element.elementor-element-0abf1f7.elementor-column.elementor-col-50.elementor-top-column {
    display: none;
}

  
}


</style>
<!-- end Simple Custom CSS and JS -->
